.slpof { 
  margin-bottom: 10px;
  margin-top: 69px;
  padding-bottom: 64px;
  border-bottom-width: 76px;
  padding-bottom: 94px;
  border-left-width: 56px;
  padding-bottom: 66px;
  padding-bottom: 96px;
  margin-top: 86px;
  border-right-width: 4px;
  padding-bottom: 47px;
  padding-bottom: 75px;
  padding-left: 45px;
  margin-right: 23px;
  font-size: 93px;
  border-top-width: 75px;
  border-top-width: 31px;
  border-bottom-width: 77px;
  margin-left: 6px;
  padding-left: 95px;
  padding-right: 59px;
  margin-top: 28px;
  padding-right: 16px;
  border-right-width: 93px;
  border-right-width: 40px;
  margin-bottom: 39px;
  margin-top: 2px;
  line-height: 59px;
  font-size: 20px;
  border-left-width: 59px;
  border-top-width: 40px;
  line-height: 52px;
  font-size: 56px;
  padding-right: 67px;
  font-size: 58px;
  border-right-width: 26px;
  font-size: 35px;
  border-left-width: 72px;
  margin-top: 26px;
  padding-top: 9px;
  border-right-width: 41px;
  padding-bottom: 56px;
  line-height: 31px;
  border-bottom-width: 29px;
  font-size: 36px;
  line-height: 96px;
  font-size: 75px;
  border-right-width: 61px;
  padding-top: 79px;
  line-height: 38px;
  border-left-width: 14px;
  font-size: 14px;
  padding-top: 23px;
}
